In [ ]:
#Explain the concept of type casting in Python with examples

'''Type casting, also known as type conversion, is the process of converting a value from one data type to another. In Python, this can be done using built-in functions. Type casting is essential when you need to perform operations that require values to be of the same type, or when you need to conform to a function's requirements regarding input types.

Types of Type Casting
1.Implicit Type Casting (Automatic Type Conversion)
2.Explicit Type Casting (Manual Type Conversion)'''

#1. Implicit Type Casting

x = 5      # Integer
y = 2.5    # Float

# Adding integer and float results in a float
result = x + y
print(result)  # Output: 7.5
print(type(result))  # Output: <class 'float'>

In [ ]:
#2. Explicit Type Casting

#Integer to Float:
x = 10
y = float(x)
print(y)  # Output: 10.0
print(type(y))  # Output: <class 'float'>

In [ ]:
#Float to Integer:

a = 7.9
b = int(a)
print(b)  # Output: 7
print(type(b))  # Output: <class 'int'>

In [ ]:
#Integer to String:
    
num = 123
num_str = str(num)
print(num_str)  # Output: '123'
print(type(num_str))  # Output: <class 'str'>

In [ ]:
#String to Integer:

s = "456"
s_int = int(s)
print(s_int)  # Output: 456
print(type(s_int))  # Output: <class 'int'>

In [ ]:
#String to Float:

s = "3.14"
s_float = float(s)
print(s_float)  # Output: 3.14
print(type(s_float))  # Output: <class 'float'>

In [ ]:
#List to Tuple:
lst = [1, 2, 3]
tup = tuple(lst)
print(tup)  # Output: (1, 2, 3)
print(type(tup))  # Output: <class 'tuple'>

In [ ]:
#Tuple to List:
t = (4, 5, 6)
lst = list(t)
print(lst)  # Output: [4, 5, 6]
print(type(lst))  # Output: <class 'list'>

In [ ]:
#String to List:
s = "hello"
lst = list(s)
print(lst)  # Output: ['h', 'e', 'l', 'l', 'o']
print(type(lst))  # Output: <class 'list'>

In [ ]:
#List to Set:
lst = [1, 2, 2, 3]
s = set(lst)
print(s)  # Output: {1, 2, 3}
print(type(s))  # Output: <class 'set'>